/**
 * Artists
 */

.artists {
  margin-top: 36px;
}

/**
 * Navigation
 */

.artists__nav-container {
  border-bottom: 1px solid $bright-light-grey;
}

.artists__nav {
  margin: 0 auto;
}

.artist__name {
  padding: 12px 0;
  color: $dark-grey;

  @include transition(all 0.2s ease-in 0.1s);

  &:hover {
    color: $brand-color;
  }

  &.is-selected {
    color: $brand-color;
    border-bottom: 1px solid $brand-color;
  }
}

/**
 * Artists main content
 */

.artist__main-container {
  height: 350px;
}

.artist__picture {
  width: 350px;
  height: 100%;
  min-width: 300px;

  margin-left: -46px;

  background-image: url('../images/artists.jpg');
  background-repeat: no-repeat;

  /*@include transition(background-position 0.2s ease-in 0.1s);*/
}

.artist__cta {
  height: 100%;
  max-width: 350px;
  min-width: 250px;

  margin-top: 75px;
}

.artist__campaign {
  width: 450px;
  height: 310px;

  background-image: url('../images/artists-campaign.jpg');
  background-size: 2700px auto;
  background-repeat: no-repeat;

  /*@include transition(background-position 0.2s ease 0.1s);*/
}

/**
 * Artists background images
 */

.artist-1 {
  .artist__picture {
    background-position: -2042px 100%;
  }
  .artist__campaign {
    background-position: 0 100%;
  }
  .artist__mosaic {
    background-image: url('../images/mosaic-artist-1.jpg');
  }
}

.artist-2 {
  .artist__picture {
    background-position: -426px 100%;
  }
  .artist__campaign {
    background-position: -450px 100%;
  }
  .artist__mosaic {
    background-image: url('../images/mosaic-artist-2.jpg');
  }
}

.artist-3 {
  .artist__picture {
    background-position: -845px 100%;
  }
  .artist__campaign {
    background-position: -900px 100%;
  }
  .artist__mosaic {
    background-image: url('../images/mosaic-artist-3.jpg');
  }
}

.artist-4 {
  .artist__picture {
    background-position: -1235px 100%;
  }
  .artist__campaign {
    background-position: -1800px 100%;
  }
  .artist__mosaic {
    background-image: url('../images/mosaic-artist-4.jpg');
  }
}

.artist-5 {
  .artist__picture {
    background-position: -1640px 100%;
  }
  .artist__campaign {
    background-position: -1350px 100%;
  }
  .artist__mosaic {
    background-image: url('../images/mosaic-artist-5.jpg');
  }
}

.artist-6 {
  .artist__picture {
    background-position: -30px 100%;
  }
  .artist__campaign {
    background-position: -2250px 100%;
  }
  .artist__mosaic {
    background-image: url('../images/mosaic-artist-6.jpg');
  }
}

/**
 * Artists mosaic
 */
.artist__mosaic {
  height: 256px;

  border-top: 5px solid $brand-color;

  @include transition(background-image 0.2s ease-in 0.1s);
}
