/**
 * Nav
 */

.nav {
  list-style: none;
  margin: 0;
  padding-left: 0;
  @extend .cf;

  > li {
    &,
    > a {
      display: inline-block;
      zoom: 1;
    }
  }
}

.nav--fit {
  display: table;
  width: 100%;

  > li {
    display: table-cell;

    > a {
      display: block;
    }
  }
}