@charset "UTF-8";
/*
 * Urturn © 2014, All Rights Reserved.
 * Music.urturn.com
 */
/**
 * Variables
 */
/**
 * Fonts
 */
/**
 * Mixins
 */
/**
 * Font-size mixin to calculate rem value dynamically
 */
/**
 * Helpers
 */
/* line 7, ../sass/tools/_helpers.scss */
.pull-left {
  float: left;
}

/* line 11, ../sass/tools/_helpers.scss */
.pull-right {
  float: right;
}

/* line 18, ../sass/tools/_helpers.scss */
.cf:after, .nav:after {
  content: '';
  display: table;
  clear: both;
}

/* line 24, ../sass/tools/_helpers.scss */
.in-b {
  display: inline-block;
}

/* line 29, ../sass/tools/_helpers.scss */
.index {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 34, ../sass/tools/_helpers.scss */
.index > li {
  margin: 0;
  padding: 0;
  position: relative;
}

/* line 41, ../sass/tools/_helpers.scss */
.horizontal {
  line-height: 0;
}
/* line 44, ../sass/tools/_helpers.scss */
.horizontal > * {
  display: inline-block;
  vertical-align: top;
  line-height: 1.5;
}

/* normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
/* line 22, ../sass/generic/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
/* line 32, ../sass/generic/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 41, ../sass/generic/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
/* line 52, ../sass/generic/_normalize.scss */
[hidden],
template {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 66, ../sass/generic/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 76, ../sass/generic/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 88, ../sass/generic/_normalize.scss */
a {
  background: transparent;
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
/* line 96, ../sass/generic/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 105, ../sass/generic/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
/* line 118, ../sass/generic/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 127, ../sass/generic/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 136, ../sass/generic/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */
/* line 144, ../sass/generic/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 152, ../sass/generic/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 162, ../sass/generic/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
/* line 174, ../sass/generic/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Improve readability of pre-formatted text in all browsers.
 */
/* line 183, ../sass/generic/_normalize.scss */
pre {
  white-space: pre-wrap;
}

/**
 * Set consistent quote types.
 */
/* line 191, ../sass/generic/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 199, ../sass/generic/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 208, ../sass/generic/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 215, ../sass/generic/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 219, ../sass/generic/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
/* line 231, ../sass/generic/_normalize.scss */
img {
  border: 0;
}

/**
 * Correct overflow displayed oddly in IE 9.
 */
/* line 239, ../sass/generic/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
/* line 251, ../sass/generic/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
/* line 263, ../sass/generic/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 274, ../sass/generic/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
/* line 288, ../sass/generic/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 300, ../sass/generic/_normalize.scss */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
/* line 312, ../sass/generic/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 327, ../sass/generic/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 337, ../sass/generic/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 347, ../sass/generic/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 358, ../sass/generic/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 371, ../sass/generic/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 380, ../sass/generic/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
/* line 390, ../sass/generic/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 403, ../sass/generic/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * Layout
 */
/* line 5, ../sass/base/_layout.scss */
body {
  padding: 0;
  overflow-x: hidden;
  min-width: 1152px;
}

/* line 11, ../sass/base/_layout.scss */
.main-wrapper {
  max-width: 1152px;
  margin: 0 auto;
}

/* line 16, ../sass/base/_layout.scss */
.shift-above {
  padding-top: 48px;
}

/* line 19, ../sass/base/_layout.scss */
.shift-below {
  padding-bottom: 48px;
}

/* line 23, ../sass/base/_layout.scss */
.logo {
  display: block;
  width: 112px;
  height: 45px;
  overflow: hidden;
  text-indent: -9999px;
  background-color: #d2523e;
  background-image: url("../images/header_logo.png");
  background-image: -webkit-image-set(url("../images/header_logo.png") 1x, url("../images/header_logo@2x.png") 2x);
  background-image: -moz-image-set(url("../images/header_logo.png") 1x, url("../images/header_logo@2x.png") 2x);
  background-image: -o-image-set(url("../images/header_logo.png") 1x, url("../images/header_logo@2x.png") 2x);
  background-image: -ms-image-set(url("../images/header_logo.png") 1x, url("../images/header_logo@2x.png") 2x);
  background-position: 50% 40%;
  background-repeat: no-repeat;
}

/* line 37, ../sass/base/_layout.scss */
.templates {
  background-color: #e1dede;
}

/* line 40, ../sass/base/_layout.scss */
.factory {
  height: 330px;
}

/* line 44, ../sass/base/_layout.scss */
.site-footer {
  padding: 24px 0;
  background-color: #383031;
}

/**
 * Typography
 */
@font-face {
  font-family: 'Hermes Condensed';
  src: url("../fonts/hermescond-regular-webfont.eot");
  src: url("../fonts/hermescond-regular-webfont.eot?iefix") format("eot"), url("../fonts/hermescond-regular-webfont.woff") format("woff"), url("../fonts/hermescond-regular-webfont.ttf") format("truetype"), url("../fonts/hermescond-regular-webfont.svg#whatever") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url("../fonts/robotocondensed-bold-webfont.eot");
  src: url("../fonts/robotocondensed-bold-webfont.eot?iefix") format("eot"), url("../fonts/robotocondensed-bold-webfont.woff") format("woff"), url("../fonts/robotocondensed-bold-webfont.ttf") format("truetype"), url("../fonts/robotocondensed-bold-webfont.svg#whatever") format("svg");
  font-weight: bold;
  font-style: normal;
}

/* line 33, ../sass/base/_typography.scss */
html,
body {
  font: normal normal 100%/1.5 'Hermes Condensed', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  color: #383031;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

/* line 44, ../sass/base/_typography.scss */
a {
  color: #d2523e;
  text-decoration: none;
}

/* line 52, ../sass/base/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
/* line 55, ../sass/base/_typography.scss */
h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
  color: #d2523e;
}

/* line 60, ../sass/base/_typography.scss */
h1 + h2 {
  margin-top: -0.67em;
}

/**
 * Alpha
 * BUTTON
 */
/* line 24, ../sass/base/_buttons.scss */
.button {
  display: inline-block;
  height: 2em;
  padding: 0.5em 0.74em;
  cursor: pointer;
  line-height: 1;
  vertical-align: top;
  color: #867e7e;
  font-weight: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  text-decoration: none;
  border: 0;
  background: none;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  -webkit-background-origin: padding;
  -moz-background-origin: padding;
  -ms-background-origin: padding-box;
  -o-background-origin: padding-box;
  background-origin: padding-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
/* line 51, ../sass/base/_buttons.scss */
.button.disabled {
  opacity: .5;
  pointer-events: none;
  cursor: not-allowed;
}

/* line 62, ../sass/base/_buttons.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
[role="button"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/**
 * Red
 */
/* line 71, ../sass/base/_buttons.scss */
.level1_button {
  color: white;
  background-color: #d2523e;
  border-radius: 0.333em;
  outline: none;
}
/* line 78, ../sass/base/_buttons.scss */
.level1_button.disabled {
  background-image: none;
}
/* line 82, ../sass/base/_buttons.scss */
.level1_button:hover {
  color: white;
  text-decoration: none;
  background-color: #d76553;
}
/* line 88, ../sass/base/_buttons.scss */
.level1_button:focus {
  color: white;
  -webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.25) inset;
  -moz-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.25) inset;
}
/* line 94, ../sass/base/_buttons.scss */
.level1_button:active, .level1_button.active {
  background-color: #b33c2a;
  color: white;
}

/**
 * Sizes
 */
/* line 103, ../sass/base/_buttons.scss */
.giant_button {
  height: 2.4em;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  font-size: 22px;
  font-size: 1.57143rem;
}
/* line 110, ../sass/base/_buttons.scss */
.giant_button::before,
.giant_button > i::before {
  font-size: 32px;
  font-size: 2.28571rem;
  vertical-align: top;
  top: -6px;
}

/* line 117, ../sass/base/_buttons.scss */
.huge_button {
  font-size: 18px;
  font-size: 1.28571rem;
}
/* line 121, ../sass/base/_buttons.scss */
.huge_button::before,
.huge_button > i::before {
  font-size: 24px;
  font-size: 1.71429rem;
  vertical-align: top;
  top: -3px;
}

/* line 128, ../sass/base/_buttons.scss */
.large_button {
  font-size: 16px;
  font-size: 1.14286rem;
}
/* line 132, ../sass/base/_buttons.scss */
.large_button::before,
.large_button > i::before {
  font-size: 20px;
  font-size: 1.42857rem;
  vertical-align: top;
  top: -3px;
}

/* line 139, ../sass/base/_buttons.scss */
.medium_button {
  font-size: 14px;
  font-size: 1rem;
}
/* line 143, ../sass/base/_buttons.scss */
.medium_button::before,
.medium_button > i::before {
  font-size: 16px;
  font-size: 1.14286rem;
  vertical-align: top;
  top: -1px;
}

/* line 150, ../sass/base/_buttons.scss */
.small_button {
  font-size: 12px;
  font-size: 0.85714rem;
}
/* line 154, ../sass/base/_buttons.scss */
.small_button::before,
.small_button > i::before {
  top: -1px;
}

/* line 159, ../sass/base/_buttons.scss */
.full_width {
  display: block;
  width: 100%;
}

/**
 * Header
 */
/* line 5, ../sass/objects/_header.scss */
.get-started-link {
  margin-top: -12px;
}

/**
 * Nav
 */
/* line 5, ../sass/objects/_nav.scss */
.nav {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
/* line 13, ../sass/objects/_nav.scss */
.nav > li,
.nav > li > a {
  display: inline-block;
  zoom: 1;
}

/* line 20, ../sass/objects/_nav.scss */
.nav--fit {
  display: table;
  width: 100%;
}
/* line 24, ../sass/objects/_nav.scss */
.nav--fit > li {
  display: table-cell;
}
/* line 27, ../sass/objects/_nav.scss */
.nav--fit > li > a {
  display: block;
}

/**
 * Artists
 */
/* line 5, ../sass/objects/_artists.scss */
.artists {
  margin-top: 36px;
}

/**
 * Navigation
 */
/* line 13, ../sass/objects/_artists.scss */
.artists__nav-container {
  border-bottom: 1px solid #f7f0f0;
}

/* line 17, ../sass/objects/_artists.scss */
.artists__nav {
  margin: 0 auto;
}

/* line 21, ../sass/objects/_artists.scss */
.artist__name {
  padding: 12px 0;
  color: #383031;
  -webkit-transition: all 0.2s ease-in;
  -webkit-transition-delay: 0.1s;
  -moz-transition: all 0.2s ease-in 0.1s;
  -o-transition: all 0.2s ease-in 0.1s;
  transition: all 0.2s ease-in 0.1s;
}
/* line 27, ../sass/objects/_artists.scss */
.artist__name:hover {
  color: #d2523e;
}
/* line 31, ../sass/objects/_artists.scss */
.artist__name.is-selected {
  color: #d2523e;
  border-bottom: 1px solid #d2523e;
}

/**
 * Artists main content
 */
/* line 41, ../sass/objects/_artists.scss */
.artist__main-container {
  height: 350px;
}

/* line 45, ../sass/objects/_artists.scss */
.artist__picture {
  width: 30%;
  height: 100%;
  min-width: 300px;
  margin-left: -36px;
  background-image: url("../images/artists.jpg");
  background-repeat: no-repeat;
  /*@include transition(background-position 0.2s ease-in 0.1s);*/
}

/* line 58, ../sass/objects/_artists.scss */
.artist__cta {
  width: 27%;
  height: 100%;
  margin-top: 75px;
}

/* line 65, ../sass/objects/_artists.scss */
.artist__campaign {
  width: 40%;
  height: 100%;
  min-width: 300px;
  margin-right: -60px;
  margin-top: -32px;
  background-image: url("../images/artists-campaign.jpg");
  background-size: 2800px auto;
  background-repeat: no-repeat;
  /*@include transition(background-position 0.2s ease 0.1s);*/
}

/**
 * Artists background images
 */
/* line 85, ../sass/objects/_artists.scss */
.artist-1 .artist__picture {
  background-position: -2042px 100%;
}
/* line 88, ../sass/objects/_artists.scss */
.artist-1 .artist__campaign {
  background-position: 0 100%;
}
/* line 91, ../sass/objects/_artists.scss */
.artist-1 .artist__mosaic {
  background-image: url("../images/mosaic-artist-1.jpg");
}

/* line 97, ../sass/objects/_artists.scss */
.artist-2 .artist__picture {
  background-position: -426px 100%;
}
/* line 100, ../sass/objects/_artists.scss */
.artist-2 .artist__campaign {
  background-position: -467px 100%;
}
/* line 103, ../sass/objects/_artists.scss */
.artist-2 .artist__mosaic {
  background-image: url("../images/mosaic-artist-2.jpg");
}

/* line 109, ../sass/objects/_artists.scss */
.artist-3 .artist__picture {
  background-position: -845px 100%;
}
/* line 112, ../sass/objects/_artists.scss */
.artist-3 .artist__campaign {
  background-position: -934px 100%;
}
/* line 115, ../sass/objects/_artists.scss */
.artist-3 .artist__mosaic {
  background-image: url("../images/mosaic-artist-3.jpg");
}

/* line 121, ../sass/objects/_artists.scss */
.artist-4 .artist__picture {
  background-position: -1235px 100%;
}
/* line 124, ../sass/objects/_artists.scss */
.artist-4 .artist__campaign {
  background-position: -1868px 100%;
}
/* line 127, ../sass/objects/_artists.scss */
.artist-4 .artist__mosaic {
  background-image: url("../images/mosaic-artist-4.jpg");
}

/* line 133, ../sass/objects/_artists.scss */
.artist-5 .artist__picture {
  background-position: -1640px 100%;
}
/* line 136, ../sass/objects/_artists.scss */
.artist-5 .artist__campaign {
  background-position: -1401px 100%;
}
/* line 139, ../sass/objects/_artists.scss */
.artist-5 .artist__mosaic {
  background-image: url("../images/mosaic-artist-5.jpg");
}

/* line 145, ../sass/objects/_artists.scss */
.artist-6 .artist__picture {
  background-position: -30px 100%;
}
/* line 148, ../sass/objects/_artists.scss */
.artist-6 .artist__campaign {
  background-position: -2335px 100%;
}
/* line 151, ../sass/objects/_artists.scss */
.artist-6 .artist__mosaic {
  background-image: url("../images/mosaic-artist-6.jpg");
}

/**
 * Artists mosaic
 */
/* line 159, ../sass/objects/_artists.scss */
.artist__mosaic {
  height: 256px;
  border-top: 5px solid #d2523e;
  -webkit-transition: background-image 0.2s ease-in;
  -webkit-transition-delay: 0.1s;
  -moz-transition: background-image 0.2s ease-in 0.1s;
  -o-transition: background-image 0.2s ease-in 0.1s;
  transition: background-image 0.2s ease-in 0.1s;
}

/**
 * Engagement
 */
/* line 4, ../sass/objects/_engagement.scss */
.engagement {
  height: 450px;
  background-image: url("../images/engagement-background.jpg");
  background-size: cover;
  background-position: 0 50%;
  color: white;
}

/* line 13, ../sass/objects/_engagement.scss */
.engagement__rating {
  height: 200px;
  width: 514px;
  margin: 0 auto;
}
/* line 19, ../sass/objects/_engagement.scss */
.engagement__rating > li {
  width: 134px;
  height: 134px;
  margin: 12px;
  background-color: white;
  border-radius: 50%;
}
/* line 27, ../sass/objects/_engagement.scss */
.engagement__rating > li .rating {
  color: #383031;
  font-size: 52px;
  height: 134px;
  line-height: 134px;
  font-family: "Roboto Condensed", "Hermes Condensed", "Helvetica Neue", helvetica, arial, sans-serif;
}

/**
 * Engage everywhere
 */
/* line 40, ../sass/objects/_engagement.scss */
.engage-everywhere {
  border-bottom: 1px solid #e1dede;
}

/* line 44, ../sass/objects/_engagement.scss */
.engage-everywhere__image {
  height: 359px;
  background-image: url("../images/engage-everywhere.jpg");
  background-repeat: no-repeat;
  background-position: 200px 100%;
}

/**
 * Engage fans
 */
/* line 55, ../sass/objects/_engagement.scss */
.engage-fans {
  /*background-color: $bright-light-grey;*/
}

/* line 59, ../sass/objects/_engagement.scss */
.step-list {
  width: 850px;
  margin: 0 auto;
  margin-top: 56px;
}
/* line 64, ../sass/objects/_engagement.scss */
.step-list .circle {
  height: 60px;
  width: 60px;
  line-height: 60px;
  margin: 12px;
  background-color: #383031;
  color: white;
  border-radius: 50%;
}
/* line 75, ../sass/objects/_engagement.scss */
.step-list .circle > span {
  font-size: 22px;
}
/* line 79, ../sass/objects/_engagement.scss */
.step-list .circle.step-list--red {
  background-color: #d2523e;
}
/* line 84, ../sass/objects/_engagement.scss */
.step-list .line {
  width: 292px;
  padding-top: 42px;
  border-bottom: 1px solid #d0c8c8;
}

/* line 91, ../sass/objects/_engagement.scss */
.step-text-list {
  width: 850px;
  margin: 0 auto;
  margin-top: 18px;
}
/* line 97, ../sass/objects/_engagement.scss */
.step-text-list li {
  margin-left: -44px;
  font-size: 18px;
}
/* line 101, ../sass/objects/_engagement.scss */
.step-text-list li:first-child {
  color: #d2523e;
}
/* line 105, ../sass/objects/_engagement.scss */
.step-text-list li:last-child {
  margin-left: 0;
  margin-right: -20px;
}

/* line 112, ../sass/objects/_engagement.scss */
.engage-fans__footer {
  height: 345px;
  margin-top: 60px;
  background-image: url("../images/engage-fans-backgroud.jpg");
  background-repeat: no-repeat;
}
/* line 120, ../sass/objects/_engagement.scss */
.engage-fans__footer .button {
  margin-top: 178px;
  width: 365px;
  height: 32px;
}

/**
 * Footer
 */
/* line 5, ../sass/objects/_footer.scss */
.site-footer {
  color: #faf7f7;
  text-align: left;
}
/* line 9, ../sass/objects/_footer.scss */
.site-footer p {
  margin: 0;
}
/* line 13, ../sass/objects/_footer.scss */
.site-footer .nav {
  margin-top: 12px;
}
