/**
 * Helpers
 */

// Floats

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}


// Clearfix

.cf:after{
  content: '';
  display: table;
  clear: both;
}

.in-b {
  display: inline-block;
}

// List style
.index {
  list-style: none;
  margin: 0;
  padding: 0;

  > li {
    margin: 0;
    padding: 0;
    position: relative;
  }
}

.horizontal {
  line-height: 0;

  & > * {
    display: inline-block;
    vertical-align: top;
    line-height: 1.5;
  }
}

// icons
.icon {
  vertical-align: top;

  &::before {
    display: inline-block;
    content: ' ';
    background-repeat: no-repeat;
  }

  &.spaced-right::before {
    margin-right: 6px;
  }
}
